{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<header>
{% block nav %}{% endblock %}
        <nav>
            <ul>
                <li><a href="/register">Registrarse</a></li>
                {% if app.user %}
                    <li><a href="/logout">Cerrar Sesi칩n</a></li>
                {% else %}
                    <li><a href="/login">Iniciar Sesi칩n</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <h1>Bienvenido a Nuestra P치gina</h1>
        {% if app.user %}
            <p>Hola, {{ app.user.username }}! Nos alegra verte de nuevo.</p>
        {% else %}
            <p>Por favor, inicia sesi칩n para unirte al chat</p>
        {% endif %}
    </main>
{% endblock %}