{% extends 'base.html.twig' %}

{% block title %}Unirse Batalla{% endblock %}

{% block stylesheets %}
    <style>
        body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    max-width: 400px;
    margin: 0 auto;
}

li {
    background: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    display: block;
    padding: 10px;
}

a:hover {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

    </style>
{% endblock %}


{% block body %}
    <h1>Unirse Batalla</h1>

    <ul>
    {% for battle in batallas %}
        <li>
            <a href="{{ path('app_batalla_aceptar', {'batalla': battle.id}) }}">{{ battle.user1.username }}: {{ battle.pokemon1.pokemon.nombre }}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}